name: Go

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: ['1.18', '1.17', '>=1.18']
        os: ['ubuntu-latest', 'ubuntu-18.04']
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go_version }}
      
    - name: Install Netcat for DB wait
      run: sudo apt-get update && sudo apt-get install -y netcat-openbsd
    
    - name: Build-DB
      run: docker compose build 
      
    - name: Create-DB
      run: docker compose up -d
    
    # CORREÇÃO 2: Aumenta o timeout para 60 segundos
    - name: Wait for Database readiness
      run: |
        timeout 60 bash -c 'until nc -z localhost 5432; do sleep 1; done'
          
  
  build:
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'ubuntu-18.04']    
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: go build -v main.go
